

:root{
    --white: #FFFFFF;
    --ligth-green: #ECF2F8;
    --gray: #48556A;
    --ligth-gray:#6E8098;
    --ligth-gray2: #9DAEC2;
    --fond-manrope:'Manrope', sans-serif;
}

h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: var(--gray);
    margin-bottom: 12px;
}
h3{
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.121875px;
    color: var(--gray);
}
p{
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.121875px;
    color: var(--ligth-gray);
}
h4{
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 5px;
    color: var(--ligth-gray2);
    margin-right: 10px;
}

.card{
    display: flex;
    width: 730px;
    height: 280px;
    background: #FFF;
    box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
    border-radius: 10px;
    position: relative;

}
.card-img{
    width: 100%;
    background: url(../assets/drawers.jpg);
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

.describe-card{
    padding: 32px 40px;
}

.user{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.user-info{
    display: flex;
    gap: 16px;
    margin-right: 160px;
}

.img-user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* button */
.iconos{
    cursor: pointer;
    border: none;
    background-color: var(--ligth-green);
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.icons-visib{
    position: absolute;
    width: 248px;
    height: 55px;
    left: 535px;
    top: 132px;
    background-color: #48556A;
    box-shadow: 0px 10px 10px rgba(201, 213, 225, 0.503415);
    border-radius: 10px;
    padding: 18px 36px;
    display: flex;
    align-items: center;
    gap: 12px;
    visibility: hidden;
}

.iconos::before{
    content: '';
    position: absolute;
    border-color: #009933;
    border-style: solid;
    border-width: 0 0.3em 0.25em 0;
    height: 1em;
    width: 0.5em;
    visibility: hidden;
}

.visible{
    visibility: visible;
}
.active-boton{
    background: var(--gray);
}
.active-boton:hover{
    background: var(--ligth-gray);
}
.active-boton .share{
    fill: #FFF;
    z-index: 3;
}

.triangulo{
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50px;
    right: 110px;
    border-top: 20px solid var(--gray);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}


@media screen and (max-width: 780px) {
    h2{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
    }
    p{
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.121875px;
        color: var(--ligth-gray);
    }
    .card{
        display: flex;
        flex-direction: column;
        width: 327px;
        height: 512px;
    }
    .describe-card{
        padding: 20px 32px;
    }
    .card-img{
        height: 400px;
        background: url(../assets/drawers.jpg);
        background-size: cover;
        border-radius: 10px 10px 0 0;
    }
    /* user */
    .user{
        display: flex;
        align-items: center;
    }
    .user-info{
        display: flex;
        gap: 16px;
        margin-right: 55px;
    }
    
    .icons-visib{
        display: flex;
        justify-content: start;
        padding: 22px 30px;
        width: 327px;
        height: 64px;
        background: #48556A;
        border-radius: 0 0 10px 10px;
        top: 450px;
        left: 0px;
    }
    .active-boton{
        background: var(--white);
        z-index: 3;
    }
    .active-boton .share{
        position: absolute;
        bottom: 23px;
        left: 275px;
    }
    .active-boton .triangulo{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 18px;
        right: 30px;
        background-color: var(--ligth-gray);
        border: none;
        border-radius: 50%;
    }
    
}